[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
flask = {version = "*", extras = ["async"]}
pydantic = "*"
loguru = "*"

[dev-packages]

[requires]
python_version = "3.11"
