<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>        
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        
        {% block head %}
        {% endblock %}

    </head>

    <body>
        <div class="header">
            {% with current_user=current_user, show_logo=show_logo %}
                {% include "header.html" %}
            {% endwith %}
        </div>
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
        {% if show_footer %}
        <div class="footer">
            {% include "footer.html" %}
        </div>
        {% endif %}
    </body>

</html>